// Replace this with your own font imports!
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
:root {
  --font-body: "Inter";
  --font-header: "Inter";
  --font-mono: "Inter"
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: var(--font-header);
}

code, kbd, pre {
  font-family: var(--font-header);
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  @include font-bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  @include text-3xl;
}

h2 {
  @include text-2xl;
}

h3 {
  @include text-xl;
}

h4 {
  @include text-lg;
}

h5 {
  @include text-base;
}

h6 {
  @include text-sm;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

input {
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
}

mark {
  background-color: var(--color-background-mark);
}

details > summary {
  cursor: zoom-in;
}

details[open] > summary {
  cursor: zoom-out;
}

.content-margin {
  @include my-8;
}

.hidden {
  display: none;
}
.list-flex {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: $sm_min_width) {
  main {
    width: $sm_main_width;
  }
}

@media screen and (min-width: $md_min_width) {
  main {
    width: $md_main_width;
  }
}

@media screen and (min-width: $lg_min_width) {
  main {
    width: $lg_main_width;
  }
}

@media screen and (min-width: $xl_min_width) {
  main {
    width: $xl_main_width;
  }
}

@media screen and (min-width: $xxl_main_width) {
  main {
    width: $xxl_main_width;
  }
}
@media screen and (max-width: 480px) {
  .list-flex {
    flex-direction: column !important;
  }
}
.homelogo {
  font-size: 1rem !important;
}
audio {
  width: 100%;
}