{{- define "content" -}}
{{- partial "breadcrumbs.html" . -}}
<h1>{{ .Title }}</h1>
<div class="highlight" style="font-size: 12px; font-weight: bold;">{{ .Params.timeline }}</div>

{{ if and (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") (.Scratch.Get "params").enable_toc }}
    {{ $enable_collapsible_toc := (.Scratch.Get "params").enable_collapsible_toc }}
    {{ partial "collapsible-menu.html" (dict "type" "toc" "context" . "enable" $enable_collapsible_toc) }}
{{ end }}

{{ if not .Params.bible }}
<span></span>
{{ else }}
<div class="content-margin">
  <ul class="breadcrumbs list-layout flex-row">
{{ if .NextInSection }}
  <li><a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a></li>
{{ end }}

<li>{{ if and .PrevInSection .NextInSection }} | {{ end }}</li>
{{ if .PrevInSection }}
   <li><a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a></li>
{{ end }}
</ul>
</div>
{{ end }}

{{ if .Content }}
    <div class="content-margin">
      
        {{- partial "content.html" . -}}
{{ end }}

{{ if not .Params.bible }}
<span></span>
{{ else }}
<hr>
<div class="content-margin">
{{ if .NextInSection }}
  <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
{{ end }}
{{ if and .PrevInSection .NextInSection }} | {{ end }}
{{ if .PrevInSection }}
  <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
{{ end }}
</div>
{{ end }}

{{- end -}}