{{- define "content" -}}
{{- partial "breadcrumbs.html" . -}}
<h1>{{ .Title }}</h1>
<div class="highlight" style="font-size: 12px; font-weight: bold;">{{ .Params.timeline }}</div>

{{ if and (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") (.Scratch.Get "params").enable_toc }}
    {{ $enable_collapsible_toc := (.Scratch.Get "params").enable_collapsible_toc }}
    {{ partial "collapsible-menu.html" (dict "type" "toc" "context" . "enable" $enable_collapsible_toc) }}
{{ end }}

{{ if .Content }}
    <div class="content-margin">
        
        {{- partial "content.html" . -}}
    </div>
{{ end }}
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="christianwr" data-color="#FFDD00" data-emoji=""  data-font="Inter" data-text="Encourage The Project" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
{{- end -}}