{{- define "content" -}}

<div>
    <h1>{{ .Title }}</h1>
    {{ with .Pages.ByPublishDate }}
        <ul class="list-layout">
            {{ range . }}
                <li class="flex-bible" style="padding-bottom: 5px !important;">
                    <img style="height: 25px; width:25px; margin-bottom: -8px;" src="/journal.png" class="bookcase-item-img-light">
                    <img style="height: 25px; width:25px; margin-bottom: -8px;" src="/journal_dark.png" class="bookcase-item-img-dark">
                    <a href="{{ .RelPermalink }}">
                        {{- .Title -}}
                    </a>

                </li>
            {{ end }}
        </ul>
    {{ end }}
</div>

{{- end -}}