<style>
    .breadcrumbs li {
  display: inline;
  white-space: nowrap;
}

.breadcrumbs li + li:before {
  content: ">";
  padding-bottom: 1rem;
}
</style>
<div class="content-margin">
<ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumbs list-layout flex-row">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="capitalize" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="/" href="/">Home</a></li>
    {{ $rellink := "" }}
    {{ range (split .RelPermalink "/") }}
      {{ if gt (len . ) 0 -}}
        {{ $rellink = printf "%s/%s" $rellink . }}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="capitalize" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="{{ $rellink }}" href="{{ $rellink }}">{{ humanize . }}</a></li>
      {{ end }}
    {{ end }}
  </ol>
</div>