<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href='{{ "favicon.ico" | relURL }}' type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ if .Params.enableToc }}
        {{- print .Title -}}
        {{ else }}
        {{- print .Title " - "  -}} ✟ Christian Writings ✟
        {{- end -}}
    </title>
    <meta name="description" content="{{ .Summary }}" />
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="manifest" href="manifest.json">
    {{ with .Keywords }}
    <meta name="keywords" content="{{ delimit . "," }}" />
    {{ end }}

    {{ with (.Scratch.Get "params").author }}
    <meta name="author" content="{{ . }}" />
    {{ end }}

    <meta name="robots" content="index">
    
   
    {{ if .IsHome }}
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ .Site.BaseURL | absURL }}OGChristianWritings.jpg">

    <script type="application/ld+json">
        {
             "@context": "https://schema.org",
             "@graph": [
                  {
                    "@type": "WebSite",
                    "@id": "https://www.christianwritings.org/#website",
                    "url": "https://www.christianwritings.org/",
                    "name": "{{ .Site.Title }}",
                    "potentialAction": {
                        "@type":"SearchAction",
                        "target":"https://www.christianwritings.org/?s={search_term_string}",
                        "query-input": "required name=search_term_string"
                    },
                    "publisher": {
                        "@id": "{{ .Site.BaseURL | absURL }}#organization"
                    }
                  },
                  {
                              "@type": "WebPage",
                    "@id": "{{ .Permalink }}#webpage",
                    "url": "{{ .Permalink }}",
                    "name": "{{ .Title }} - {{ .Site.Title }}",
                              "primaryImageOfPage": {
                        "@id": "{{ .Site.BaseURL | absURL }}OGChristianWritings.jpg"
                    },
                    "inLanguage": "en-US"
                }
             ]
        }
        
        </script>
    {{ end }}



    
    {{ if .Params.book }}
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="og:type" content="book">
    <meta property="og:image" content="{{ .Site.BaseURL | absURL }}OGBible.jpg">
    {{ end }}

    {{ if .Params.timeline }}
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="og:type" content="books.author">
    <meta property="og:image" content="{{ .Site.BaseURL | absURL }}OGApostolic.jpg">
    {{ end }}

    {{ if .Params.enableToc }}
    <meta property="og:title" content="{{ .Title }} by {{ .Params.author }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="og:type" content="books">
    <meta property="og:image" content="{{ .Site.BaseURL | absURL }}OGApostolic.jpg">

    <script type="application/ld+json">
        {
             "@context": "https://schema.org",
             "@graph": [
                  {
                       "@id": "#author",
                       "@type": "Person",
                       "name": "{{ .Params.author }}"
                  },
                  {
                       "@id": "#letter",
                       "@type": "Book",
                       "name": "{{ .Title }}",
                       "inLanguage": "en",
                       "genre": "Epistle",
                       "author": "Person"
                  },
                  {
                    "@type": "WebSite",
                    "@id": "https://www.christianwritings.org/#website",
                    "url": "https://www.christianwritings.org/",
                    "name": "{{ .Site.Title }}",
                    "publisher": {
                        "@id": "{{ .Site.BaseURL | absURL }}#organization"
                    }
                  },
                  {
                              "@type": "WebPage",
                    "@id": "{{ .Permalink }}#webpage",
                    "url": "{{ .Permalink }}",
                    "name": "{{ .Title }} by {{ .Params.author }}",
                              "primaryImageOfPage": {
                        "@id": "{{ .Site.BaseURL | absURL }}OGApostolic.jpg"
                    },
                    "inLanguage": "en-US"
                }
             ]
        }
        
        </script>
        
    {{ end }}

    {{ if (.Scratch.Get "params").enable_twitter_cards }}
        {{ template "_internal/twitter_cards.html" . }}
    {{ end }}

    {{- partial "resources/css.html" . -}}

    {{ if (.Scratch.Get "params").ga_code }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}

    {{/*  Dark theme: inline in `head` to avoid FOUC  */}}
    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.setAttribute("data-theme", "dark");
        } else {
            document.documentElement.setAttribute("data-theme", "light");
        }
    </script>

    {{- partial "resources/js.html" . -}}
</head>