
{{ $pages := .pages }}
{{- if $pages -}}

<ul class="list-layout" data-pagefind-ignore>
    {{ range $pages }}
        <li class="flex-bible">
            <img style="height: 25px; width:25px; margin-bottom: -8px;" src="/journal.png" class="bookcase-item-img-light">
            <img style="height: 25px; width:25px; margin-bottom: -8px;" src="/journal_dark.png" class="bookcase-item-img-dark">
            <a style="" href="{{ .RelPermalink }}">
                
                {{- .Title -}}
            </a>
        </li>
    {{ end }}
</ul>

{{- end -}}
