{{ define "content" }}

{{ if .Content }}
    <div class="content-margin">
        {{- partial "content.html" . -}}

    </div>
{{ end }}
  <div>
    <h1>Church Fathers</h1>
    {{ with .Pages.ByPublishDate }}
        <ul class="list-layout">
            {{ range . }}
                <li>
                    <div class="list-flex">
                        <div>
                            <a href="{{ .RelPermalink }}">
                            {{- .Title -}}
                            </a>
                        </div>
                        <div>
                            <span>
                            - <strong>{{- .Params.timeline -}}</strong>
                            </span>
                            <span>
                            - <strong class="highlight">{{- .Params.tags -}}</strong>
                            </span>
                        </div>
                    </div>
                </li>
            {{ end }}
        </ul>
    {{ end }}
</div>


{{ end }}
