<div data-pagefind-ignore>
<script type="application/ld+json" >
	{
	  "@context": "https://schema.org",
	  "@type": "AudioObject",
	  {{ with .Get "src" }}"contentUrl": "https://audio.christianwritings.org/{{ . }}"{{ end }},
	  {{ with .Get "title" }} "description": "{{ . }}"{{ end }},
	  "encodingFormat": "audio/mpeg",
	  {{ with .Get "src" }}"name": "{{ . }}"{{ end }}
	}
	</script>
<audio controls
	class="audio_controls" preload="metadata"
	{{ with .Get "title" }}data-info-title="{{ . }}"{{ end }}
	data-info-artist="Librevox Recordings"
>
	{{ if .Get "src" }}
	<source {{ with .Get "src" }}src="https://audio.christianwritings.org/{{ . }}"{{ end }}
		type="audio/mpeg">
	>
	{{ end }}
	
</audio>
</div>